.header{
    padding: 20px;
    text-align: center;
}
.imagenes {
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    
}
.card-link{
    color: rgb(196, 76, 29);
}
.precio{
    font: bold;
}
